@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .main-header .logo, label, input, button, select, box {
    font-family: 'Nunito Sans', sans-serif;
}

#data_rows{
  text-align: center;
    width: 20%;
}

.shiny-notification{
    position: fixed;
    top: 33%;
    left: 33%;
    right: 33%;
    opacity: 1;
}

#field_selector .progress-bar {
    background-color: orange;
}

.progress-group {
  margin-top: 13%;
}


#core_default_btn {
  margin-top: 5%;
}

#DT_select_input{
  margin-top: -2%;
}

#select_deselect_all_checkbox{
  margin-top: 7%;
}


#DT_field_selector_icon{
      margin-top: 4.5%;
    width: 120%;
    margin-left: -40%;
}
    
#plot_field_selector_icon{
    margin-top: 8.5%;
    width: 177%;
    margin-left: -54%;
}
    
    
#plot_field_selector_radio_btn{
    margin-top: 11%;
    float: left;
    margin-left: 20%;
}

#DT_field_selector_checkbox {
    float: left;
    margin-left: 10%;
}    

#navigation_slider_input {
    width: 90%;
    margin-left: 5%;
}

#nav_btn {
    margin-right: 2%;
}
.progressStep li {
    list-style: none;
}

.secondaryHeaders{
    color: #3c8dbc;
}

.map_texture .bttn {
    width: 106%;
    text-align: center;
}

.map_texture {
    margin-top: 3%;
}

#leaflet_checkbox {
    float: left;
    margin-left: 10%;
    margin-top: 2%;
}

#leaflet_contoller {
    width: 100%;
    margin-top: 3%;
    margin-left: 105%;
}
#completedIcon img {
    width: 10%;
}

#typeInput {
    width: 100%;
}

#domainInput {
    width: 100%;
}

.checksListTopic{
    color: grey;
}

.checksListContent {
    margin-left: 5%;
    margin-top: -3%;
}

.checksListContent h4{
    color: orange;
}

.readyButton .btn{
    background-color: transparent;
}

.activeButton .btn .bttn{
      background-color: transparent;
    border: solid #f39c12 1px;
}

#darwinize-darwinizeButton {
  background-color: orange;
}

.completedButton .btn{
    background-color: green;
    color: white
}

.modal-dialog {
    width: 90%;
    text-align: center;
}

.modal-content img{
    width: 60%;
}

.modal-header {
    color: orange;
}

.navbar-nav>.messages-menu>.dropdown-menu, .navbar-nav>.notifications-menu>.dropdown-menu, .navbar-nav>.tasks-menu>.dropdown-menu{
    width: 1000px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu, .navbar-nav>.notifications-menu>.dropdown-menu>li .menu, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu{
    max-height: 500px;
}

#messageMenu{
    background-color: #3c8dbc;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {
        background-color: #3c8dbc;
    }
    50% {
        background-color: #f39c12;
    }
    100% {
    background-color: #222;
    }
}

.dropdown-menu{
    /** background-color: #222d32; **/
    box-shadow: aqua;
    border-color: #3c8dbc;
}

.subSpan{
    margin-left: 5%;
}


.shiny-input-container:not(.shiny-input-container-inline){
    width: auto;
}


#nextButton .btn{
  color: #fff;
  background-color: #379a6d;
  border-color: #379a6d;
  padding: 6px 12px;
  font-size: 14px; }
  
.completedButton .btn{
    background-color: green;
    color: white
}

.readyButton .btn{
    background-color: transparent;
}

.top_padding{
  padding-top: 80px;
}

.btn-success {
    font-size: 18px;
    font-family: inherit;
    padding: 5px 12px;
    height: 55px;
    min-width: 30%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white;
    background: #727477;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 1px 5px 0 rgba(0,0,0,0.15);
    text-transform: uppercase;
    -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.btn-success:hover {
    background-color:#d1351b;
    font-size: 18px;
    font-family: inherit;
    padding: 5px 12px;
    height: 55px;
    min-width: 30%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: box-shadow 0.4s ease-out;
    transition: box-shadow 0.4s ease-out;
}
.btn-warning, .btn-warning:hover {
    font-size: 18px;
    font-family: inherit;
    padding: 5px 12px;
    height: 55px;
    min-width: 30%;
    margin: 0px 10px 14px 20px;
    text-align: left;
    color: white;
    background: #d1351b;
    text-indent: 4px;
    vertical-align: middle;
    border-radius: 0px;
    border-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 1px 5px 0 rgba(0,0,0,0.15);
    text-transform: uppercase;
    -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


.btn-danger {
    background-color: #d1351b;
    border-color: #d1351b;
    height: 55px;
    width: 300px;
    border-radius: 0;
    position: relative;
    font-size: 18px;
}
.btn-primary {
    background-color: darkgrey;
    border-color: darkgrey;
    color: white;
    height: 55px;
    width: 300px;
    border-radius: 0;
    position: relative;
    font-size: 18px;
}
.btn-primary:hover {
    background-color: #d1351b;
    border-color: #d1351b;
    color: white;
    border-color: #d1351b;

}




 .info-box {
     min-height:55px;
     float:center;
     box-shadow:5px 5px 5px lightgrey;
     border-bottom: 0px;
 }

 .info-box-icon.bg-black {
     height:55px; 
}
.bg-black {
    background-color: #727477 !important;
    height: 55px;
    line-height:55px;

}

.btn-success:focus {
    background: rgb(0,230,0);
    
}



/*-------*/

#shiny-tab-dataInputTab .col-sm-12 {
  background: rgb(45,55,65);
} 

.content-wrapper {
  min-height: 115vh !important;
}



.shiny-notification {
  margin-left: 0px !important;
  border-radius: 0;
  border-color: rgb(243 156 18);
    border-width: 2px;
}

.progress-bar {
    background-color: rgb(243 156 18);
}

.nav-tabs>li>a {
    border-radius: 0;
}

.form-control, .selectize-input, .selectize-control.single .selectize-input {
    border-radius: 0;
    border-color: rgb(243 156 18);
  
}

.btn-default{
  border-radius: 0;
  background-color: transparent !important;
  border: solid 1px orange;
}

a {
    color: #d2d6de;
}

.upload_main .selectize-input {
  width:250px !important;
}

.skin-yellow .left-side, .skin-yellow .main-sidebar, .skin-yellow .wrapper {
  background-color: #000;
}

.content-wrapper, .right-side {
    background: #000;
}

#shiny-tab-dataInputTab .col-sm-12 {
    background: #000;
}

.left-side, .main-sidebar {
  width: 130px !important;
}

.sidebar-menu span::before {
  content: "\A \A";
  white-space: pre;
}

.sidebar-menu {
  font-size: 11px;
}

.sidebar-menu i{
  font-size: 24px;
}

.sidebar-menu .active i{
  font-size: 34px;
  color:#f39c12;
  margin-left: -15px;
}

#sidebarItemExpanded {
  margin-top: 125px;
}

.content-wrapper{
  margin-left: 140px;
}

.small-box {
  background: #001f3f!important;
  border-style: solid;
  border-width: 2px;
      border-radius: 0;
  border-color: #1ebc45!important;
  padding-left: 20px;
}

.bg-light-blue h3{
  color: #fff!important;
}

.bg-aqua h3{
  color: #fff!important;
}

.bg-blue h3 {
    color: #fff!important;
}

.bg-aqua{
  background: #2185d0 !important;
}

.bg-blue{
  background: #1ebc45 !important;
}

.bg-light-blue{
  background: #e03997 !important;
}

.sidebar-menu{
  text-align: center;
}

.small-box h3, .small-box p {
    font-size: large;
    color: rgb(255 255 255 / 88%);
}

.sidebar-menu a {
  height: 120px;
}

.sidebar-menu i{
  margin-top: 20px;
}




.small-box h3 {
    font-size: 85px!important;
}

.bttn-fill.bttn-primary {
    background: transparent;
    color: #fff;
    padding: 6px 12px;
    border: orange 1px solid;
}

.btn-success {
  border-color: #f39c12;
  border-width: 2px;
  background: #f39c12;
}

.field_selector{
  width: 22%;
  margin-right: 1px;
      border-radius: 0;
      border: 2px solid #f39c12;
}

#shiny-modal-wrapper .checkbox input[type=checkbox], #shiny-modal-wrapper .checkbox-inline input[type=checkbox], #shiny-modal-wrapper .radio input[type=radio], #shiny-modal-wrapper .radio-inline input[type=radio] {
  width: 20px;
    height: 20px;
    margin-left: -40px;
    margin-top: -5px;
}

.dt-buttons .btn-default {
  margin-top: 2px;
  background: transparent;
  color: white;
  border: 1px solid #f39c12;
}

.btn-group-sm>.btn, .btn-sm {
  border-radius: 0;
}

.open>.dropdown-toggle.btn-info {
      background-color: #f39c12;
    border-color: #000000;
}

.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {
      background-color: #f39c12;
}

.btn-info {
    background-color: #f39c12;
    border-color: #000000;
}

pre {
  border-radius: 0;
  border: 1px solid #f39c12;
}

.pretty input:checked~.state.p-info-o label:before, .pretty.p-toggle .state.p-info-o label:before{
  border-color: #f39c12 !important;
}

.irs--shiny .irs-bar {
      top: 25px;
    height: 8px;
    border-top: 1px solid #f39c12;
    border-bottom: 1px solid #f39c12;
    background: #f39c12;
}

.irs--shiny .irs-bar--single {
  border-radius: 0;
}
.irs--shiny .irs-line{
  border-radius: 0;
}

.bttn-gradient.bttn-primary, .bttn-simple.bttn-primary {
      background: #f39c12;
}

.btn-file {
  border: solid 1px #f39c12!important;
}

.btn-default{
  color: white;
}

#nav_btn .bttn-gradient.bttn-sm, .bttn-simple.bttn-sm {
  margin-top: 3px;
  font-size: 11px;
  border-radius: 0;
}

.sidebar-menu>li>a {
  padding-left: 0;
}

.inner {
  text-align: center;
}

.btn-default:focus, .action-button:focus{
  border: solid 1px orange;
  color: white;
}
.small-box>.inner {
  padding: 5px;
}